.gear-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.spinning-gear {
  animation: spin 3s linear infinite;
}

.gear-icon,
.dollar-icon {
  position: absolute;
  top: 27%;
  left: 49.5%;
  transform: translate(-50%, -50%);
}

.gear-icon {
  font-size: 50px; /* 톱니바퀴 아이콘의 크기를 지정합니다. */
}

.dollar-icon {
  font-size: 30px; /* $ 아이콘의 크기를 지정합니다. */
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
